html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  text-align: center;
}

.btn {
  display: inline-block;
  color: #333;
  text-decoration: none;
  text-align: center;
  border: 3px solid #222;
  border-radius: 4px;
  padding: 0.4em 0.75em 0.5em;
}

div a:hover {
  background-color: #666;
  color: #f2f2f2;
}

div {
  display: inline-block;
  max-width: 25em;
  vertical-align: middle;
  padding: 1em;
  text-align: left;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
}
